/*
Theme Name: Your own theme;
Author: Your name;
Author URI: http://...;
Version: 1.0
*/

/*
To insert you style.css, create functions.php file 
in your theme folder and write a function that imports our style
*/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

p {
   line-height: 1.65em;
}

a:link,
a:visted {
	color: #006ec3;
}

/* GENERAL LAYOUT*/

div.container {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* CONTENT AREA */

article .post {
	border-bottom: 2px dotted #bbbbbb;
}

article .post:last-of-type {
    border-bottom: none;
}

/* MAIN COLUMN */
/*.main-column{
	width: 60%;
	float: left;
}*/

/* SECONDARY COLUMN*/
/* .secondary-column{
	width: 30%;
	float: right;
} */

/* ASIDE STYLES */

article.post-aside{
	font-size: 125%;
	background-color: #AFEEEE;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 1rem;
}

.mini-meta{
	margin: 0;
	color: #777;
}

/* END ASIDE STYLES */

/* END CONTENT AREA */

/* HEADER */

.site-header {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	padding: 30px 0 0 0;
}

.site-header h1{
	margin: 0;
}

.site-header h1 a:link,
.site-header h1 a:visited{
	text-decoration: none;
}

.site-header h1 a:hover{
	color: #BA55D3
;
}

/*  Navigation Menus  */
/* Standart Nav Menu */

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after {
	content: "";
	display: table;
}

.site-nav ul:after {
	clear: both;
}

.site-nav ul {
	*zoom: 1;
}

.site-nav ul li {
	list-style: none;
	float: left;
}

.site-nav ul li a:link,
.site-nav ul li a:visited{
	display: block;
}

/* Header Nav Menu */

/* .site-header nav{
	margin-top: 30px;
} */

.site-header nav ul li {
	margin-right: 5px;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #BBB;
	border-bottom: none;
	text-decoration: none;
}

.site-header nav ul li a:hover {
	background-color: #ECECEC;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited{
	font-weight: bold;
	background-color: #006ec3;
	color: #FFF;
}

/* FOOTER */

.site-footer {
	margin-top: 30px;
	border-top: 1px solid #DDD;
}

/* FOOTER MENU */

.site-footer nav ul li{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #BBB;
}

/* FOOTER CALLAOUT SECTION */

.footer-callout{
	background-color: #DDD;
}

.footer-callout-image{
	float: left;
	width: 30%;
}

.footer-callout-text{
	float: right;
	width: 67%;
}

.footer-callout-text h2{
	font-size: 1.7rem;
	margin: 0 0 .35rem 0;
}

.footer-callout-text p{
	font-size: .9rem;
}

/* TWO COLUMN TITLE LAYOUT */

div.title-column{
	width: 30%;
	float: left;
}

div.text-column{
	width: 70%;
	float: right;
}

/* INFO BOX */

div.info-box{
	width: 30px;
	float: right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #EEE;
}

div.info box h4 {
	margin-bottom: 6px;
}

div.info-box p{
	font-size: 85%;
}

/* Children Links */

.children-links{
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 80%;
}

.children-links a:link,
.children-links a:visited{
	text-decoration: none;
}

.children-links ul{
	float: left;
}

.children-links li{
	margin-right: 20px;
}

.children-links .parent-link{
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	font-size: 120%;
	font-weight: bold;
}

.children-links .parent-link a:visited,
.children-links .parent-link a:link{
    color: #333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited{
	border-bottom: 1px solid #DDD;
	color: #333;
	cursor: default;
}

/*  Post styles  */
.post h2{
	margin-bottom: 0;
}

p.post-info{
	font-size: 87%;
	color: #999;
}

p.post-info a:link,
p.post-info a:visited{
	color: #999;
}

/* Search */
.hd-search{
	float: right;
}

.hd-search label{
	position: absolute;
	left: -999px;
}
#searchsubmit{
	background-color: #006ec3;
	color: #FFF;
	padding: 5px 14px;
	border: none;
	vertical-align: top;
}

.hd-search #s{
	vertical-align: top;
	padding: 3px 0;
}

/* IMAGE STYLES */
img{
	max-width: 100%;
	height: auto;
}

.has-thumbnail{
	position: relative;
	padding-left: 200px;
}
.post-thumbnail{
	position: absolute;
	top: 0;
	left: 0;
}

/* HOME PAGE */
.categPlusNews a:hover{
	color: #BA55D3;
	text-decoration: none;
}

/* ABOUT THE AUTHOR SECTION */

.about-author{
	background-color: #EDEDED;
	padding: 20px;
}

.about-author-image{
	float: left;
	width: 28%;
	position: relative;
}

.about-author-image img{
	display: block;
}

.about-author-image p{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	padding: 4px 0;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .85);
	color: #FFF;
	margin: 0;
}

.about-author-text{
	float: right;
	width: 68%;
}





























